:root {
    --dark-link-color: #4ea6f7;
    --dark-link-color-hover: #64b5f6;
    --dark-color: #a9a9b3;
    --dark-color-bg: #232425;

    --light-link-color: #1A73E8;
    --light-link-color-hover: #0056b3;
    --light-color: #222;
    --light-color-bg: #fafafa;
    --light-header-color: #fafafa;
}

html {
    font-size: 1rem;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--dark-link-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--dark-link-color-hover);
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--dark-link-color);

    }
    a:hover {
        color: var(--dark-link-color-hover);
    }
}

@media (prefers-color-scheme: light) {
    a {
        color: var(--light-link-color);

    }
    a:hover {
        color: var(--light-link-color-hover);
    }
}

body {
    font-family: "Courier Prime", monospace;
    font-optical-sizing: auto;
    line-height: 1.4;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--dark-color);
    background: var(--dark-color-bg);
    display: flex;
    flex-direction: column;
    ;
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--light-color);
        background: var(--light-color-bg);
    }
}

@media (prefers-color-scheme: light) {
    header {
        color: var(--light-header-color)
    }
    body {
        color: var(--light-color);
        background: var(--light-color-bg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    display: flex;
    background: #1b1c1d;
    padding: 20px;
    width: 100%;

}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: left;

    padding: 1em 1em;
}

.main {
    display: block;
}

.terminal-line {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    align-items: center;
}

.icon {
    min-width: 1rem;
    min-height: 1rem;
    line-height: 0.5;
}

.main .terminal-text:nth-child(3) {
    margin-top: 0.1em;
}

.tree-item {
    display: flex;
    flex-direction: row;
    column-gap: 0.2em;
    align-items: center;
}

.cursor-line::after {
    content: "█";
    animation: blink 1s infinite;
}

@media screen and (min-width: 700px) {
    html {
        font-size: 1.5rem;
    }

    .icon {
        min-width: 1.5rem;
        min-height: 1.5rem;
        line-height: 0.75;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}